@import url("./components/toast.css");
@import url("./components/scrollbar.css");
@import url("./components/toggle-checkboxs.css");
@import url("./components/buttons.css");
@import url("./components/input.css");


*,
*::after,
*::before {
    padding: 0;
    margin: 0;
}

/* main */
body {
    background-color: var(--background-color);

    color: var(--color);
    font-family: var(--font);
    font-weight: var(--font-regular-weight);
    font-size: 14px;
}