/* default */
input.input {
    padding: 7px 7px 5px 7px;
    background-color: var(--blocks-background);
    color: var(--color);
    font-family: var(--font);
    font-weight: var(--font-regular-weight);
    border: none;
    border-radius: 3px;
    border-bottom: 2px solid var(--blocks-background);
    outline: none;
    width: 300px;
    transition: border-bottom .2s linear,
                box-shandow .2s linear;
}

input.input:hover,
input.input:focus {
    border-bottom: 2px solid var(--main-color);
    box-shadow: 0 0 5px var(--blocks-background);
}

input.input::placeholder {color: var(--dark-color);}

/* file */
input[type="file"]::-webkit-file-upload-button {
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--main-color);
    color: var(--color);
    font-family: var(--font);
    font-weight: var(--font-regular-weight);
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color .2s linear;
}

input[type="file"]::-webkit-file-upload-button:hover {background-color: var(--active-main-color);}

/* color */
input[type="color"].input {
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    box-shadow: none;
}

input[type="color"].input::-webkit-color-swatch-wrapper {padding: 0;}
input[type="color"].input::-webkit-color-swatch {border: 1px solid var(--background-color);}

/* validation */
input.input.validation:focus:valid {box-shadow: 0 0 5px rgba(0, 255, 0, 0.50);}
input.input.validation:focus:invalid {box-shadow: 0 0 5px rgba(255, 0, 0, 0.50);}

/* select */
select.select {
    padding: 7px 7px 5px 7px;
    background-color: var(--blocks-background);
    color: var(--color);
    font-family: var(--font);
    font-weight: var(--font-regular-weight);
    border: none;
    border-radius: 3px;
    border-bottom: 2px solid var(--blocks-background);
    outline: none;
    width: 314px;
    transition: border-bottom .2s linear,
                box-shandow .2s linear;
}
select.select:hover,
select.select:focus {
    border-bottom: 2px solid var(--main-color);
    box-shadow: 0 0 5px var(--blocks-background);
}

select.select::-ms-expand {display: none;}
select.select option {background-color: var(--blocks-background);}